<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 17</title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="formulario.css">
    <!-- El sig link se usa para implementar la tipografia elegida -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- El sig link se usa para implementar el icono de menu, equis y los iconos de redes sociales -->
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- las dos lineas siguientes son para implementar vue.js y la libreria axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- barra de navegacion en el header -->
    <header class="header" id="inicio">
        <img class="hamburguer" src="img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion">
                <a href="#inicio">Inicio</a>
                <a href="#servicio">Servicio</a>
                <a href="#galeria">Portafolio</a>
                <a href="#expertos">Especializados</a>
                <a href="#footer">Contacto</a>
        </nav>
        <!-- titulo principal de la pagina -->
        <div class="contenedor head">
            <h1 class="titulo">Te llevamos al sitio de tus sueños</h1>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <p class="copy">by Grupo17</p>
        </div>

    </header>
    <main>
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Nuestros servicios</h2>
            <div class="contenedor-servicio">
                <img src="img/checklist.svg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Viajes por el mundo</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem enim illum dolorum nisi. Aspernatur.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Hoteles de primer nivel</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem enim illum dolorum nisi. Aspernatur.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Paquetes de excursiones</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem enim illum dolorum nisi. Aspernatur.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo">Galeria de Imágenes</h2>
                <div class="contenedor-galeria">
                    <img src="img/uno.jpg" class="img-galeria" alt="">
                    <img src="img/dos.jpg" class="img-galeria" alt="">
                    <img src="img/tres.jpg" class="img-galeria" alt="">
                    <img src="img/cuatro.jpg" class="img-galeria" alt="">
                    <img src="img/cinco.jpg" class="img-galeria" alt="">
                    <img src="img/seis.jpg" class="img-galeria" alt="">
                    <div id="app">
                        <div class="contenedor-galeria" v-for="photo in photos" :key="photo.id">
                            <img :src="photo.urls.regular" class="img-galeria" :alt="photo.description">
                        </div>
                    </div>    
                </div>
            </div>
        </section>    
        <!-- intentando implementar imagenes desde una api -->
        <!-- <section class="gallery" id="galeria">
            <div class="contenedor-galeria" id="app">
                <div v-for="photo in photos" :key="photo.id">
                    <img :src="photo.urls.regular" class="img-galeria" :alt="photo.description">
                </div>
            </div>        
        </section> -->
        
        <div class="imagen-light">
            <img src="img/close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
        <!-- figuras isometricas descargadas de https://www.manypixels.co/gallery -->
        <section class="contenedor" id="expertos">
            <h2 class="subtitulo">Especializados en:</h2>
            <section class="experts">
                <div class="cont-expert">
                    <img src="img/viajes.svg" alt="">
                    <h3 class="n-expert">Viajes</h3>
                </div>
                <div class="cont-expert">
                    <img src="img/excursiones.svg" alt="">
                    <h3 class="n-expert">Excursiones</h3>
                </div>
                <div class="cont-expert">
                    <img src="img/hoteles.svg" alt="">
                    <h3 class="n-expert">Hoteles</h3>
                </div>
            </section>
        </section>
        
    </main>
    <section class="formulario" id="galeria"">
        <h2 class="subtitulo">Contacto</h2>
        <form action="" method="">
            <label for="nombre">Nombre y apellido:</label>
            <!-- validacion de los campos usando expresiones regulares -->
            <input type="text" id="nombre" name="nombre" required pattern="^[a-zA-Z ]+$" title="Por favor. ingresa nombre y apellido">
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Por favor, ingresa una dirección de correo electrónico válida">
    
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
    
            <input type="submit" value="Enviar">
        </form>
    </section>
    <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="marca">Grupo 17 - TRAVEL</h2>
                    <p>Somos expertos en planificar el viaje de tus sueños</p>
                </div>
                <!-- Iconos de redes sociales de boxicons -->
                <div class="social-media">
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="js/api.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/lightbox.js"></script>
</body>
</html>

/* probando si guarda*/